
</h1> Create a New Kangaroo! </h1>

<form action='/' method='post'>

	Name:<input type = 'text' name='name'>

	<br>

	Breed:<input type = 'text' name='breed'>

	<br>

	Age:<input type = 'number' name='age'>


	<input type='submit' value='Create Kangaroo'>

</form>